<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muguangli.api.mapper.UserStudyMapper">
  <resultMap id="BaseResultMap" type="com.muguangli.api.pojo.UserStudy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lesson_id" jdbcType="INTEGER" property="lessonId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="current_task_stage" jdbcType="INTEGER" property="currentTaskStage" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lesson_id, open_id, current_task_stage, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_study
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_study
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.muguangli.api.pojo.UserStudy">
    insert into user_study (id, lesson_id, open_id, 
      current_task_stage, start_time, end_time
      )
    values (#{id,jdbcType=INTEGER}, #{lessonId,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, 
      #{currentTaskStage,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.muguangli.api.pojo.UserStudy">
    insert into user_study
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lessonId != null">
        lesson_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="currentTaskStage != null">
        current_task_stage,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lessonId != null">
        #{lessonId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="currentTaskStage != null">
        #{currentTaskStage,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.muguangli.api.pojo.UserStudy">
    update user_study
    <set>
      <if test="lessonId != null">
        lesson_id = #{lessonId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="currentTaskStage != null">
        current_task_stage = #{currentTaskStage,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muguangli.api.pojo.UserStudy">
    update user_study
    set lesson_id = #{lessonId,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR},
      current_task_stage = #{currentTaskStage,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectList" parameterType="com.muguangli.api.pojo.UserStudy" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_study
    where 1=1
    <if test="lessonId != null">
    	and lesson_id = #{lessonId,jdbcType=INTEGER}
    </if>
    <if test="openId != null">
    	and open_id = #{openId,jdbcType=VARCHAR}
    </if>
    <if test="currentTaskStage != null">
    	and current_task_stage = #{currentTaskStage,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="queryLessonUserNumbers" parameterType="java.lang.Integer" resultType="java.lang.Long">
    select count(1) from user_study where lesson_id = #{lessonId,jdbcType=INTEGER}
  </select>
  
</mapper>